*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #444444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 2vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 96vh;
  /* background-color: #0857C3 ; */
  background-color: #DDDAE8;
  border-radius: 3vh;
}

.logo {
  height: 20%;
  cursor: pointer;
}

.meetinginfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.label {
  display: inline-block;
  font-weight: bolder;
  font-size: 3vh;
  color: #001871;
  text-align: center;
  width: 100%;
}

.input {
  padding: 2vh;
  text-align: center;
  border-radius: 1.5vh;
  border: 0.3vh solid #8BC400;
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
}

.button {
  padding: 2vh;
  border: none;
  border-radius: 1.5vh;
  width: 100%;
  font-size: 3vh;
  font-weight: bolder;
  color: white;
  background-color: #8BC400;
  cursor: pointer;
}

.renderer {
  z-index: 99;
  height: 96vh;
  width: 70vw;
}